<div id="<%= dom_id case_study %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Project:</strong>
    <%= case_study.project_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Context:</strong>
    <%= case_study.context %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Problem:</strong>
    <%= case_study.problem %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Approach:</strong>
    <%= case_study.approach %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Decisions:</strong>
    <%= case_study.decisions %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Implementation:</strong>
    <%= case_study.implementation %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Results:</strong>
    <%= case_study.results %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Metrics:</strong>
    <%= case_study.metrics %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Next steps:</strong>
    <%= case_study.next_steps %>
  </div>
</div>
